.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('https://www.loliapi.com/acg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 